awsebcli
blinker
botocore
cement
certifi
charset-normalizer
click
colorama
Flask
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
jmespath
joblib
keras
MarkupSafe
numpy
pandas
pathspec
pypiwin32
python-dateutil
pytz==2024.1
pywin32==306
PyYAML==6.0.1
requests==2.31.0
scikit-learn==1.2.2
scipy==1.12.0
semantic-version==2.8.5
six==1.16.0
SQLAlchemy==2.0.16
termcolor==1.1.0
threadpoolctl==3.3.0
typing_extensions==4.6.3
tzdata==2024.1
urllib3==1.26.18
wcwidth==0.1.9
Werkzeug==2.3.6
xgboost==2.0.3
